*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/gradle
/tianchuang.keystore
app/src/main/jniLibs/
gradlew
gradlew.bat
src/main/jniLibs/
